.title {
    color: #fff;
    font-size: 25px; /* Fixed 'size' to 'font-size' */
  }
  
  .content-redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .icons-redes {
    list-style-type: none;
    padding: 0;
    
  }
  
  .iconRedes {
    
    gap: 15px;
    padding: 10px;
    width: 180px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover */
  }
 
  
  .iconRedes:hover {
    background-color: #fff;
    color: #000;
  }
  
  .iconRedes img {
    width: 50px;
    height: 50px;
    margin-right: 10%;
  }
  
  .redes {
    color: inherit;
    text-decoration: none;
    font-size: 16px; /* Optional: Adjust font size for links */
    margin-left: 5%;
  }
  
  .redes:hover {
    color: #000;
    text-decoration: underline; /* Adds underline on hover */
  }
  