@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  background: linear-gradient(to top, #142924, #130e1a);
  background-size: cover;
  background-attachment: fixed;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*//////////////// Media Query/////////////////*/
@media (max-width: 768px) {
 
}